*{
    margin: 0%;
    padding: 0%;

}
body{
    background:#444;
    display:flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}
.cube{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
    position: relative;
    /* perspective-origin:-300px -100px; */
}
/* 
    content: '';
    position:absolute;
    width:100%;
    height:100%;
    background:transparent;
    filter:blur(40px);
} */
.backgroundcube{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.backgroundcube img{
    width:100%;
    height:100%;
    position: absolute;
    z-index:10;
    filter: blur(5px);
}
.cube .boximg{
    z-index:50;
    transform-style: preserve-3d;
    width:300px;
    height: 300px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    position:absolute;
    top:15%;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotateY(0deg) rotateZ(0deg) rotateX(0deg);
    }
    100%{
        transform: rotateZ(-360deg) rotateY(360deg) rotateX(360deg);
    }
}
.cube .boximg img{
    width:300px;
    height:300px;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    opacity:1;
}
.cube .boximg img:nth-child(1){
    transform: translateZ(-150px);
}
.cube .boximg img:nth-child(2){
    transform: translateZ(150px);
}
.cube .boximg img:nth-child(3){
    transform: translateX(150px) rotateY(90deg);
}
.cube .boximg img:nth-child(4){
    transform: translateX(-150px) rotateY(90deg);
}
.cube .boximg img:nth-child(5){
    transform: translateY(150px) rotateX(90deg);
}
.cube .boximg img:nth-child(6){    
    transform: translateY(-150px) rotateX(90deg);
}
.cube .hologram{
    width:400px;
    height: 400px;
    position:relative;
    perspective: 1000px;
    perspective-origin:10rem 20rem;
    z-index:15;
}
.cube .hologram div{
    transform-style: preserve-3d;
    width:100%;
    height:100%;
    background:linear-gradient(transparent, aqua);
    position:absolute;
    z-index:15;
    top:52%;
    opacity:0.3;
    clip-path: polygon(4.6% 0, 95.4% 0, 70% 98.4%, 30% 98.4%);

}
.cube .hologram div:nth-child(1){
    transform: translateZ(130px) rotateX(-15deg);
}
.cube .hologram div:nth-child(2){
    transform: translateZ(-130px) rotateX(15deg);
}
.cube .hologram div:nth-child(3){
    transform: translateX(130px) rotateY(90deg) rotateX(-15deg);
}
.cube .hologram div:nth-child(4){
    transform: translateX(-130px) rotateY(90deg) rotateX(15deg);

}


